* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* GLOBAL */
body {
    width: 98vw;
    background: #43aa8b; 
    background: -webkit-linear-gradient(to right, #43aa8b, #38ef7d); 
    background: linear-gradient(to right, #43aa8b, #38ef7d); 
    
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    color: white;
    font-size: 90px;
    margin-bottom: 60px;
}

button {
    width: 170px;
    height: 42px;
    font: 20px 'Balsamiq Sans', cursive;
    cursor: pointer;
    color: white;
    background-color: #4d908e;
    border: solid 3px;
    border-radius: 10px;
}
button:hover {
    background-color: white;
    color: #4d908e;
    border-color: white;
}
/* CSS Selection */
#selection-game-container{
    height: 98vh;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}
.btn-selection {
    margin-right: 40px;
}

/* CSS - Game */
.memory-game-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memory-game{
    width: 80vw;
    margin: auto;
    display: grid;
    justify-content: center;
}

.memory-card {
    margin: 4px;
    width: 100px;
    height: 100px;
    position: relative; 
    transform: scale(1);
}

.memory-card:active{
    transform: scale(0.9);
    transition: transform .2s;
}

.front-face, .back-face{
    position: absolute;
    border-radius: 10px;
}

.match-card {
    margin: 4px;
    width: 100px;
    height: 100px;
    position: relative; 
    transform: scale(1);
}

/* END GAME */
.button-end-container {
    display: flex;
    justify-content: center;
}





